.image{
    height: 100px;
    width: 100px;
}
.card{
    background-color: #eceff1;
    width: 250px;
    height: 150px;
    text-align: center;
}
.shoestext{
    text-decoration: underline;
}
.cardx{
    display: flex;
    justify-content: center;
}